[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
geojson = "*"
loguru = "*"
haversine = "*"
sentinelhub = "*"
shapely = "*"
pytest = "*"
pandas = "*"
tqdm = "*"
jupyter = "*"
matplotlib = "*"
rasterio = "*"
geopandas = "*"
seaborn = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
